---
layout: wide
---
<div class="posts" style="background-color: black;">

  {%- if site.posts.size > 0 -%}
    <!--h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2-->
    <div class="grid">
      {%- for post in site.posts -%}
      <!--div class="grid_column" style="width: 33%";-->
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <a class="container" href="{{ post.url | relative_url }}">
          {% if post.image %}
            <img style="object-fit: cover; width: 100%; height: 350px;
              {% if post.invert %} filter: invert(1);
              {% elsif post.dark %} filter: brightness(50%); {% endif %}
              " data-echo={{ post.image }} title={{ post.title | escape }} />
            <div class="overlay">
              {{ post.title | escape }}
            </div>
          {% endif %}
          <!--a class="post-link centered" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a-->
          <!--span class="post-meta centered">{{ post.date | date: date_format }}</span-->
        </a>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      <!--/div-->
      {%- endfor -%}
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
